<% @page_title = "Home" %>

<!-- <div class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <h2>Your next course is:</h2>
    <div><%= @next_course['day'].capitalize %>, <%=@next_course['start_time']%>, <%=@next_course['name']%></div>
    <span><%= link_to "See your schedule", student_schedule_path, :class => "link" %></span>
  </div>
</div>
<div class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <h2>Joined events</h2>
    <div class = 'events'>
      <% if Student.find(current_user.id).events == nil %>
      <p> You aren't hosting any events </p>
      <% else %>
      <ul>
        <% Student.find(current_user.id).events.each do |event|%>
        <li>
          <div class = 'time'>
            <h3> <%= event.date.strftime('%d %B') %> <h3>
            </div>
            <div class = 'details'>
              <h3> <%=event.name%> </h3>
              <p> <%= event.description%> </p>
              <span> Location: <%= event.location %>
            </div>

        </li>
        <%end%>
      </ul>
      <%end%>
    </div>
</div>
</div>
<div class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <h2>News</h2>
    <% @news.each do |n| %>
      <p><%= n['content'] %>  ( adaugat de <%= n['teacher']%> )</p>
    <% end %>
  </div>
</div> -->
