<% @page_title = "Login" %>

<% @page_title = "Login" %>

<div>
    <section class="box">
        <div class="layer1">
            <div>
                <main>
                    <div id="welcome" >
                       <h1>Welcome<br />to<br />STUDENT GUIDE</h1>
                    </div>
                    <div id="login_form">
                        <%= form_with :url => attempt_login_path, :method => :post, :local => true do |f| %>

                            <h2>Login</h2>

                            <div class="inputBox">
                               <%= f.text_field :nameOrMail, placeholder: " " %>
                               <label> Username or Email</label>
                            </div>

                            <div class="inputBox">
                              <%= f.password_field :password, placeholder: " "%>
                              <label>Password</label>
                            </div>

                            <div>
                              <p><%= f.submit "Login" %></p>
                            </div>

                        <% end %>
                        <p>Don't have an account yet? <%= link_to("Create one now!", signup_path, class: 'link') %></p>
                    </div>
                </main>
             </div>
        </div>
        <div class="layer2"></div>
    </section>
</div>
