<% @page_title = "Login" %>

<div class="login">
  <%= form_with :url => attempt_login_path, :method => :post do |f| %>
  <table>
    <tr>
      <td><%= f.label :nameOrMail, "Username or Email" %></td>
      <td><%= f.text_field :nameOrMail %></td>
    </tr>
    <tr>
      <td><%= f.label :password %></td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= f.submit "Log In" %></td>
    </tr>
  </table>
  <% end %>
</div>
<p>Don't have an account yet? <%= link_to("Signup now", signup_path) %></p>
