<%= link_to "Your schedule", student_schedule_path, :class => "link" %>
<%= link_to "Search schedule", student_search_schedule_path, :class => "link ml-2" %>

<!-- Buttons with days -->
<div class="col-container">
  <div class="column-5">
    <button type="button" class="btn btn-outline-primary btn-lg" onclick="showSchedule(event, 'Monday')">Monday</button>
  </div>
  <div class="column-5">
    <button type="button" class="btn btn-outline-primary btn-lg" onclick="showSchedule(event, 'Tuesday')">Tuesday</button>
  </div>
  <div class="column-5">
    <button type="button" class="btn btn-outline-primary btn-lg" onclick="showSchedule(event, 'Wednesday')">Wednesday</button>
  </div>
  <div class="column-5">
    <button type="button" class="btn btn-outline-primary btn-lg" onclick="showSchedule(event, 'Thursday')">Thursday</button>
  </div>
  <div class="column-5">
    <button type="button" class="btn btn-outline-primary btn-lg" onclick="showSchedule(event, 'Friday')">Friday</button>
  </div>
</div>

<!-- Monday Schedule -->
<div id="Monday" class="col-container">
  <div class="column-2">
    <% @schedule['monday'].each do |course| %>
      <div class="schedule-card" onmouseover="showDetails(event)">
        <span><%= course['start_time'] %> - <%= course['end_time'] %></span>
        <h5><%= course['name'] %></h5>
      </div>
    <% end %>
  </div>
  <div class="column-2">
    <div id="information">
      <% @schedule['monday'].each do |course| %>
        <%= content_tag :div, "", class: [course['name'], course['start_time']]  do%>
          <p><h5>Room: </h5><%= course['room'] %>
          <p><h5>Professor: </h5><%= course['teacher_first_name'] + " " + course['teacher_last_name'] %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- Tuesday Schedule -->
<div id="Tuesday" class="col-container">
  <div class="column-2">
    <% @schedule['tuesday'].each do |course| %>
      <div class="schedule-card" onmouseover="showDetails(event)">
        <span><%= course['start_time'] %> - <%= course['end_time'] %></span>
        <h4><%= course['name'] %></h4>
      </div>
    <% end %>
  </div>
  <div class="column-2">
    <div id="information">
      <% @schedule['tuesday'].each do |course| %>
        <%= content_tag :div, "", class: [course['name'], course['start_time']]  do%>
          <p><h5>Room: </h5><%= course['room'] %>
          <p><h5>Professor: </h5><%= course['teacher_first_name'] + " " + course['teacher_last_name'] %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- Wednesday Schedule -->
<div id="Wednesday" class="col-container">
  <div class="column-2">
    <% @schedule['wednesday'].each do |course| %>
      <div class="schedule-card" onmouseover="showDetails(event)">
        <span><%= course['start_time'] %> - <%= course['end_time'] %></span>
        <h4><%= course['name'] %></h4>
      </div>
    <% end %>
  </div>
  <div class="column-2">
    <div id="information">
      <% @schedule['wednesday'].each do |course| %>
        <%= content_tag :div, "", class: [course['name'], course['start_time']]  do%>
          <p><h5>Room: </h5><%= course['room'] %>
          <p><h5>Professor: </h5><%= course['teacher_first_name'] + " " + course['teacher_last_name'] %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- Thursday Schedule -->
<div id="Thursday" class="col-container">
  <div class="column-2">
    <% @schedule['thursday'].each do |course| %>
      <div class="schedule-card" onmouseover="showDetails(event)">
        <span><%= course['start_time'] %> - <%= course['end_time'] %></span>
        <h4><%= course['name'] %></h4>
      </div>
    <% end %>
  </div>
  <div class="column-2">
    <div id="information">
      <% @schedule['thursday'].each do |course| %>
        <%= content_tag :div, "", class: [course['name'], course['start_time']]  do%>
          <p><h5>Room: </h5><%= course['room'] %>
          <p><h5>Professor: </h5><%= course['teacher_first_name'] + " " + course['teacher_last_name'] %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- Friday Schedule -->
<div id="Friday" class="col-container">
  <div class="column-2">
    <% @schedule['friday'].each do |course| %>
      <div class="schedule-card" onmouseover="showDetails(event)">
        <span><%= course['start_time'] %> - <%= course['end_time'] %></span>
        <h4><%= course['name'] %></h4>
      </div>
    <% end %>
  </div>
  <div class="column-2">
    <div id="information">
      <% @schedule['friday'].each do |course| %>
        <%= content_tag :div, "", class: [course['name'], course['start_time']]  do%>
          <p><h5>Room: </h5><%= course['room'] %>
          <p><h5>Professor: </h5><%= course['teacher_first_name'] + " " + course['teacher_last_name'] %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
