<div class="tab">
  <button type="button" class="btn btn-lg tablinks"  style="width:19.655%" onclick="openCity(event, 'Luni')">Luni</button>
  <button type="button" class="btn btn-lg tablinks"  style="width:19.655%" onclick="openCity(event, 'Marti')">Marti</button>
  <button type="button" class="btn btn-lg tablinks"  style="width:19.655%" onclick="openCity(event, 'Miercuri')">Miercuri</button>
  <button type="button" class="btn btn-lg tablinks"  style="width:19.655%" onclick="openCity(event, 'Joi')">Joi</button>
  <button type="button" class="btn btn-lg tablinks"  style="width:19.655%" onclick="openCity(event, 'Vineri')">Vineri</button>
</div>

<!-- Tab content -->
<div id="Luni" class="tabcontent">
  <div class="column">
    <% @schedule['monday'].each do |course| %>
      <h4 class="w3-tag w3-teal w3-round oneline" onmouseover="openDetails(event)"> <%= course['name']%>  <%= course['start_time'] %> - <%= course['end_time'] %>
      </h4>
    <% end %>
  </div>
  <div class="column">
    <div id="information">
      <% @schedule['monday'].each do |course| %>
        <%= content_tag :div, "", class: ["informatii" ,course['name'], course['start_time']]  do%>
          <p><h5>Locatia: </h5><%= course['room'] %>
          <p><h5>Prof: </h5><%= course['teacher_first_name'] + " " + course['teacher_last_name'] %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="Marti" class="tabcontent">
  <div class="column">
  <% @schedule['tuesday'].each do |course| %>
    <h4 class="w3-tag w3-teal w3-round oneline" onmouseover="openDetails(event)"> <%= course['name']%>  <%= course['start_time'] %> - <%= course['end_time'] %>
    </h4>
    <% end %>
  </div>
  <div class="column">
    <div id="information">
      <% @schedule['tuesday'].each do |course| %>
        <%= content_tag :div, "", class: ["informatii" ,course['name'], course['start_time']]  do%>
          <p><h5>Locatia: </h5><%= course['room'] %>
          <p><h5>Prof: </h5><%= course['teacher_first_name'] + " " + course['teacher_last_name'] %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="Miercuri" class="tabcontent">
  <div class="column">
    <% @schedule['wednesday'].each do |course| %>
      <h4 class="w3-tag w3-teal w3-round oneline" onmouseover="openDetails(event)"> <%= course['name']%>  <%= course['start_time'] %> - <%= course['end_time'] %>
      </h4>
    <% end %>
  </div>
  <div class="column">
    <div id="information">
      <% @schedule['wednesday'].each do |course| %>
        <%= content_tag :div, "", class: ["informatii" ,course['name'], course['start_time']]  do%>
          <p><h5>Locatia: </h5><%= course['room'] %>
          <p><h5>Prof: </h5><%= course['teacher_first_name'] + " " + course['teacher_last_name'] %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="Joi" class="tabcontent">
  <div class="column">
    <% @schedule['thursday'].each do |course| %>
      <h4 class="w3-tag w3-teal w3-round oneline" onmouseover="openDetails(event)"> <%= course['name']%>  <%= course['start_time'] %> - <%= course['end_time'] %>
      </h4>
    <% end %>
  </div>
  <div class="column">
    <div id="information">
      <% @schedule['thursday'].each do |course| %>
        <%= content_tag :div, "", class: ["informatii" ,course['name'], course['start_time']]  do%>
          <p><h5>Locatia: </h5><%= course['room'] %>
          <p><h5>Prof: </h5><%= course['teacher_first_name'] + " " + course['teacher_last_name'] %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="Vineri" class="tabcontent">
  <div class="column">
    <% @schedule['friday'].each do |course| %>
      <h4 class="w3-tag w3-teal w3-round oneline" onmouseover="openDetails(event)"> <%= course['name']%>  <%= course['start_time'] %> - <%= course['end_time'] %>
      </h4>
    <% end %>
  </div>
  <div class="column">
    <div id="information">
      <% @schedule['friday'].each do |course| %>
        <%= content_tag :div, "", class: ["informatii" ,course['name'], course['start_time']]  do%>
          <p><h5>Locatia: </h5><%= course['room'] %>
          <p><h5>Prof: </h5><%= course['teacher_first_name'] + " " + course['teacher_last_name'] %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
