<%= link_to "Your schedule", student_schedule_path %>
<%= link_to "Search schedule", student_search_schedule_path %>

<h1> Monday </h1>
<% @schedule['monday'].each do |course| %>
<p> <%= course['start_time'] %> - <%= course['end_time'] %>: <%= course['name']%> </p>
<% end %>

<h1> Tuesday </h1>
<% @schedule['tuesday'].each do |course| %>
<p> <%= course['start_time'] %> - <%= course['end_time'] %>: <%= course['name']%> </p>
<% end %>

<h1> Wednesday </h1>
<% @schedule['wednesday'].each do |course| %>
<p> <%= course['start_time'] %> - <%= course['end_time'] %>: <%= course['name']%> </p>
<% end %>

<h1> Thursday </h1>
<% @schedule['thursday'].each do |course| %>
<p> <%= course['start_time'] %> - <%= course['end_time'] %>: <%= course['name']%> </p>
<% end %>

<h1> Friday </h1>
<% @schedule['friday'].each do |course| %>
<p> <%= course['start_time'] %> - <%= course['end_time'] %>: <%= course['name']%> </p>
<% end %>
