<% @page_title = "New Teacher Token" %>

<%= link_to("<< Back to list", teacher_tokens_path) %>

<h2>Create Teacher Token</h2>

<%= form_with :url => create_teacher_token_path, :method => :post, :local => true do |f| %>
  <%= f.label :amount %>
  <%= f.number_field :amount, :required => true, :value => 1 %>

  <%= f.submit "Create", data: { disable_with: "Creating..." } %>
<% end %>
