<nav id="nav-links">
  <div class="container-fluid">
    <%= link_to "Your schedule", choose_schedule_route, :class => "link" %>
    <%= link_to "Search schedule", choose_search_route, :class => "link" %>
    <p>Logged in as: <%= current_user.username %></p>
  </div>
</nav>
<!-- Buttons with days -->
<div id="schedule-buttons" class="col-container">
  <div class="header-column-5">
    <h4>Monday</h4>
  </div>
  <div class="header-column-5">
    <h4>Tuesday</h4>
  </div>
  <div class="header-column-5">
    <h4>Wednesday</h4>
  </div>
  <div class="header-column-5">
    <h4>Thursday</h4>
  </div>
  <div class="header-column-5">
    <h4>Friday</h4>
  </div>
</div>

<hr class="schedule-hr"/>

<div id="schedule-tab" class="col-container">
  <!-- Monday Schedule -->
  <div id="Monday" class="column-5">
    <% @schedule['monday'].each do |course| %>
      <div class="schedule-card">
        <div class="schedule-card-inner">
          <div class="schedule-card-front">
            <p class="hour-interval"><%= course['start_time'] %> - <%= course['end_time'] %></p>
            <h5><%= course['name'] %> (<%= course['kind'][0]%>)</h5>
          </div>
          <div class="schedule-card-back">
            <p>Room: <%= course['room'] %></p>
            <% if course['teacher_first_name'] and course['teacher_last_name'] %>
              <p>Prof: <%= course['teacher_first_name'] + " " + course['teacher_last_name'] %></p>
            <% elsif course['groups'] %>
              <p>Groups: <%= course['groups'] %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <!-- Tuesday Schedule -->
  <div id="Tuesday" class="column-5">
    <% @schedule['tuesday'].each do |course| %>
    <div class="schedule-card">
      <div class="schedule-card-inner">
        <div class="schedule-card-front">
          <p class="hour-interval"><%= course['start_time'] %> - <%= course['end_time'] %></p>
          <h5><%= course['name'] %> (<%= course['kind'][0]%>)</h5>
        </div>
        <div class="schedule-card-back">
          <p>Room: <%= course['room'] %></p>
          <% if course['teacher_first_name'] and course['teacher_last_name'] %>
            <p>Prof: <%= course['teacher_first_name'] + " " + course['teacher_last_name'] %></p>
          <% elsif course['groups'] %>
            <p>Groups: <%= course['groups'] %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <!-- Wednesday Schedule -->
  <div id="Wednesday" class="column-5">
    <% @schedule['wednesday'].each do |course| %>
    <div class="schedule-card">
      <div class="schedule-card-inner">
        <div class="schedule-card-front">
          <p class="hour-interval"><%= course['start_time'] %> - <%= course['end_time'] %></p>
          <h5><%= course['name'] %> (<%= course['kind'][0]%>)</h5>
        </div>
        <div class="schedule-card-back">
          <p>Room: <%= course['room'] %></p>
          <% if course['teacher_first_name'] and course['teacher_last_name'] %>
            <p>Prof: <%= course['teacher_first_name'] + " " + course['teacher_last_name'] %></p>
          <% elsif course['groups'] %>
            <p>Groups: <%= course['groups'] %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <!-- Thursday Schedule -->
  <div id="Thursday" class="column-5">
    <% @schedule['thursday'].each do |course| %>
    <div class="schedule-card">
      <div class="schedule-card-inner">
        <div class="schedule-card-front">
          <p class="hour-interval"><%= course['start_time'] %> - <%= course['end_time'] %></p>
          <h5><%= course['name'] %> (<%= course['kind'][0]%>)</h5>
        </div>
        <div class="schedule-card-back">
          <p>Room: <%= course['room'] %></p>
          <% if course['teacher_first_name'] and course['teacher_last_name'] %>
            <p>Prof: <%= course['teacher_first_name'] + " " + course['teacher_last_name'] %></p>
          <% elsif course['groups'] %>
            <p>Groups: <%= course['groups'] %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <!-- Friday Schedule -->
  <div id="Friday" class="column-5">
    <% @schedule['friday'].each do |course| %>
    <div class="schedule-card">
      <div class="schedule-card-inner">
        <div class="schedule-card-front">
          <p class="hour-interval"><%= course['start_time'] %> - <%= course['end_time'] %></p>
          <h5><%= course['name'] %> (<%= course['kind'][0]%>)</h5>
        </div>
        <div class="schedule-card-back">
          <p>Room: <%= course['room'] %></p>
          <% if course['teacher_first_name'] and course['teacher_last_name'] %>
            <p>Prof: <%= course['teacher_first_name'] + " " + course['teacher_last_name'] %></p>
          <% elsif course['groups'] %>
            <p>Groups: <%= course['groups'] %></p>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
