<nav id="nav-links">
  <div class="container-fluid">
    <%= link_to "Your schedule", choose_schedule_route, :class => "link" %>
    <%= link_to "Search schedule", choose_search_route, :class => "link" %>
    <p>Logged in as: <%= current_user.username %></p>
  </div>
</nav>

<div class="navbar navbar-light bg-light">
  <div class="container-fluid search_schedule form-group">
    <%= form_with :url => choose_search_post_route, :method => :post, :local => true do |f| %>
      <%= f.label :group, "Group number" %>
      <%= f.text_field :group, :class => "form-control" %><br>

      <%= f.submit "Search", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="navbar navbar-light bg-light">
  <div class="container-fluid search_schedule form-group">
    <%= form_with :url => choose_search_post_route, :method => :post, :local => true do |f| %>
      <%= f.label :teacher_last_name, "Teacher's first name" %>
      <%= f.text_field :teacher_last_name, :class => "form-control" %><br>

      <%= f.label :teacher_first_name, "Teacher's last name" %>
      <%= f.text_field :teacher_first_name, :class => "form-control" %><br>

      <%= f.submit "Search", :class => "btn btn-primary" %></td>
    <% end %>
  </div>
</div>
