<%= link_to "Your schedule", choose_schedule_route %>
<%= link_to "Search schedule", choose_search_route %>

<div class="search_schedule">
  <%= form_with :url => choose_search_post_route, :method => :post, :local => true do |f| %>
  <table>
    <tr>
      <td><%= f.label :group, "Group number" %></td>
      <td><%= f.text_field :group %></td>
    </tr>
    <tr>
      <td><%= f.submit "Search" %></td>
    </tr>
  </table>
  <% end %>
</div>

<div class="search_schedule">
  <%= form_with :url => choose_search_post_route, :method => :post, :local => true do |f| %>
  <table>
    <tr>
      <td><%= f.label :teacher_last_name, "Teacher's first name" %></td>
      <td><%= f.text_field :teacher_last_name %></td>
    </tr>
    <tr>
      <td><%= f.label :teacher_first_name, "Teacher's last name" %></td>
      <td><%= f.text_field :teacher_first_name %></td>
    </tr>
    <tr>
      <td><%= f.submit "Search" %></td>
    </tr>
  </table>
  <% end %>
</div>
