<% @page_title = "Event Tokens" %>

<%= link_to("<< Back to Home", admin_home_path) %>

<h2>Event Tokens</h2>

<p><%= link_to("Create new token", create_event_token_path, :method => :post) %></p>

<table summary="Event tokens">
  <tr class="header">
    <th>#</th>
    <th>Token</th>
    <th>Actions</th>
  </tr>
  <% @event_tokens.each do |e_token| %>
  <tr>
    <td><%= e_token.id %></td>
    <td><%= e_token.token %></td>
    <td><%= link_to "Delete", delete_event_token_path(e_token), data: { method: 'delete', confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
