<% @page_title = "New Student Token" %>

<%= link_to("<< Back to list", student_tokens_path) %>

<h2>Create Student Token</h2>

<%= form_with :url => create_student_token_path, :method => :post, :local => true do |f| %>
  <%= f.label :group %>
  <%= f.number_field :group, :required => true %>

  <%= f.label :amount %>
  <%= f.number_field :amount, :required => true, :value => 1 %>

  <%= f.submit "Create", data: { disable_with: "Creating..." } %>
<% end %>
