<% @page_title = "Signup" %>

<h1>Signup</h1>

<%= form_with :url => attempt_signup_path, :method => :post, :local => true, :id => 'signup' do |f| %>

  <div class="input-group">
    <%= f.text_field :first_name, :required => true %>
    <%= f.label :first_name %>
  </div>

  <div class="input-group">
    <%= f.text_field :last_name, :required => true %>
    <%= f.label :last_name %>
  </div>

  <div class="input-group">
    <%= f.email_field :email, :required => true %>
    <%= f.label :email %>
  </div>

  <div class="input-group">
    <%= f.text_field :username, :required => true %>
    <%= f.label :username %>
  </div>

  <div class="input-group">
    <%= f.password_field :password, :required => true, :placeholder => 'Minimum eight characters, at least one uppercase letter, one lowercase letter and one number' %>
    <%= f.label :password %>
  </div>

  <%= f.submit "Register" %></td>

<% end %>

<p>Already have an account? <%= link_to("Log in", login_path) %></p>
