<% @page_title = "Signup" %>

<div class="signup">
  <%= form_tag(attempt_signup_path, :method => :post) do %>
  <table>
    <tr>
      <td><%= label_tag(:first_name) %></td>
      <td><%= text_field_tag(:first_name, params[:first_name]) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:last_name) %></td>
      <td><%= text_field_tag(:last_name, params[:last_name]) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:email) %></td>
      <td><%= email_field_tag(:email, params[:email]) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:username) %></td>
      <td><%= text_field_tag(:username, params[:username]) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:password) %></td>
      <td><%= password_field_tag(:password) %></td>
    </tr>
    <tr>
      <td><%= label_tag(:password_hint, "Minimum eight characters, at least one uppercase letter, one lowercase letter and one number") %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Register") %></td>
    </tr>
  </table>
  <% end %>
</div>
<p>Already have an account? <%= link_to("Log in", login_path) %></p>
