<% @page_title = "Signup" %>


 <div>
    <section class="box">
        <div class="layer1" >
            <div>
                 <%= form_with :url => attempt_signup_path, :method => :post, :local => true do |f| %>

                   <h2>Sign Up</h2>

                   <div class="inputBox">
                        <%= f.text_field :first_name, placeholder: " " %>
                        <label>First Name</label>
                   </div>

                   <div class="inputBox">
                       <%= f.text_field :last_name, placeholder: " " %>
                       <label>Last Name</label>
                   </div>

                   <div class="inputBox">
                       <%= f.email_field :email, placeholder: " " %>
                       <label>Email</label>
                   </div>

                   <div class="inputBox">
                      <%= f.text_field :username, placeholder: " " %>
                      <label>Username</label>
                   </div>

                   <div class="inputBox">
                      <%= f.password_field :password, placeholder: "Minimum eight characters, at least one uppercase letter, one lowercase letter and one number" %>
                      <label>Password</label>
                   </div>
                   <p><%= f.submit "Register" %></p>
                   <% end %>
                    <p>Already have an account? <%= link_to("Log in", login_path) %></p>
            </div>
        </div>
        <div class="layer2"></div>
    </section>
 </div>



