<% @page_title = "Token Confirmation" %>

<div class="token-confirmation">
  <%= form_with :url => token_validation_path, :method => :post do |f| %>
  <table>
    <tr>
      <td><%= f.label :token, "Token" %></td>
      <td><%= f.text_field :token %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= f.submit "Check Token" %></td>
    </tr>
  </table>
  <% end %>
</div>
<p>Already have an account? <%= link_to("Log in", login_path) %></p>
