<% @page_title = "Token Confirmation" %>

<h1>Token Confirmation</h1>

<%= form_with :url => token_validation_path, :method => :post, :local => true, :id => 'token_confirmation' do |f| %>

  <div class="input-group">
    <%= f.text_field :token, :required => true %>
    <%= f.label :token, "Token" %>
  </div>

  <%= f.submit "Check Token" %>

<% end %>

<p>Already have an account? <%= link_to("Log in", login_path) %></p>
