<% @page_title = "Token Confirmation" %>

<div class="token-confirmation">
  <%= form_tag(token_validation_path, :method => :post) do %>
  <table>
    <tr>
      <td><%= label_tag(:token, "Token") %></td>
      <td><%= text_field_tag(:token, params[:token]) %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= submit_tag("Check Token") %></td>
    </tr>
  </table>
  <% end %>
</div>
<p>Already have an account? <%= link_to("Log in", login_path) %></p>
