<% @page_title = "Admin Home" %>

<h2>Admin Home</h2>

<p><%= link_to("Students", show_students_path) %></p>
<p><%= link_to("Teachers", show_teachers_path) %></p>
<p><%= link_to("Expired News", expired_news_path) %></p>
<p><%= link_to("Student Tokens", student_tokens_path) %></p>
<p><%= link_to("Teacher Tokens", teacher_tokens_path) %></p>
<p><%= link_to("Event Tokens", event_tokens_path) %></p>
<p><%= link_to("Logout", logout_path) %></p>
