<!DOCTYPE html>
<html>
  <head>
    <title>StudentGuide | Student <%= " | #{@page_title}" if @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'student', media: 'all' %>
    <%= stylesheet_link_tag params[:controller], media: 'all' %>

    <%= javascript_include_tag 'student' %>
    <%= javascript_include_tag params[:controller] %>
  </head>

  <body>
    <div class="wrapper">
      <nav id="sidebar">
        <div class="sidebar-header">
          <h3>Student Guide</h3>
        </div>
        <ul class="list-unstyled components">
          <li id="home" class="<%= 'active' if params[:controller]=='student_home'%>">
            <%= link_to fa_icon('home', text: "Home"), student_home_path %>
          </li>
          <li id="schedule" class="<%= 'active' if params[:controller].in?(['student_schedule', 'search_schedule']) %>">
            <%= link_to fa_icon('calendar', text: "Schedule"), student_schedule_path %>
          </li>
          <li id="events" class="<%= 'active' if params[:controller]=='explore_events'%>">
             <%= link_to fa_icon('newspaper-o', text: "Events"), student_explore_events_path %>
          </li>
          <li id="logout">
            <%= link_to fa_icon('sign-out', text: "Logout"), logout_path %>
          </li>
        </ul>
      </nav>
      <div id="content">
        <div class="container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
